body{
	font-family: "Helvetica", fantasy;
	color:#000000;
       }

h1 {
	font-size: 1.3em;
	text-align:center;
     }

table {
  font-family:"Arial Black", Gadget, sans-serif;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
  border-collapse: collapse;
         }

td {
	border: solid #4d4d4d;
	text-align:center;
	background-color:#2DE0DD; 
    }

th {
	text-align:center;
	color:#000000;
	background-color:#176F6A;
  border: solid #E0A52D;
   }

